/* Black (#101820FF) and Blazing Yellow (#FEE715FF)*/

/* Fonts */
@font-face {
    font-family: "valor";
    src: url("font/Valorant.ttf") format("truetype");
}
/*Geral*/
body { 
    background-color: #101820FF;
    margin-top: 100px;
    font-family: "valor",sans-serif;
}
#projects h3, #courses h3{
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.area-1,.area-2,.area-3,.area-4{
    visibility: hidden;
}

.col-4{
    display: inline-block;
    width: 32%;
}

